# build files
.vscode
build
managed_components
sdkconfig.*

# temporary KiCad files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck
\#auto_saved_files#
sym-lib-table

# temporary Multisim files
*.ms14 (Security copy)

# various example files I've referenced to get things running
/examples